
<h2><%= @actor.name %></h2>

<h3><%= @actor.year_of_birth %></h3>

<p><img src="<%=@actor.thumbnail%>"</p>

<br>
<% @actor.movies.each do |movie| %>
<p>
<%= link_to movie.title, movie_path(movie)%>
</p>
<br>
<%end%>

<%= link_to 'Back', actors_path %>
