
<h2><%= @movie.title %></h2>


<h3><%= @movie.summary %></h3>

<p><img src="<%=@movie.thumbnail%>"</p>

<p><%=@movie.youtube_embedded_link.html_safe%></p>

<h4>Actors:</h4>
<% @movie.actors.each do |actor|%>
  <p><%=link_to actor.name, actor_path(actor) %></p>
<% end %>

<%= link_to 'Back', movies_path %>
